html {
}

body {
  border: lightgrey solid;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}

/*Header*/

header {
  height: 64px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo {
  display: flex;
  margin-left: 24px;
}

.desktop {
  display: flex;
  align-content: center;
  margin-right: 24px;
}

.desktop li {
  display: inline;
  padding: 8px;
}

.desktop a {
  text-decoration: none;
}

/*Banner*/

.banner {
  display: flex;
  background-color: lightgrey;
  align-items: center;
  border: red solid;
}

.banner-image {
  width: 60%;
  margin: 32px 24px;
}

.banner-image img {
  width: 100%;
  border: red solid;
}

.banner-text {
  border: red solid;
  width: 20%;
}

.button {
  background-color: grey;
  text-align: center;
  color: white;
}

.button h3 {

}

/* Information */

.Information {
  display: flex;
}

.info-column-1 {
  margin: 32px 24px;
  width: 60%;
  border: red solid;
}

.info-column-1-image img {
  width: 100%;
}

.info-column-2 {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 40%;
}

.info-column-2-box {
  display: flex;
}

.info-column-2-box-text {
  width: 65%;
}

.info-column-2-box-image {
  width: 35%;
  padding: 16px;
}

.info-column-2-box-image img {
  width: 100%;
}

/*Courses*/

.courses {
  background-color: lightgrey;
}

.courses h2 {
  text-align: center;
  padding-top: 32px;
}

.courses .container {
  display: flex;
  justify-content: space-between;
}

.course-box {
  margin: 16px;
  width: 20%;
}

.course-box-image {
  height: auto;
}

.course-box-image img {
}

/*Thesis*/

.thesis h2 {
  text-align: center;
  padding-top: 32px;
}

.thesis .container {
  display: flex;
}

.thesis-column-1 {
  margin: 32px 24px;
  width: 60%;
}

.thesis-column-1 video {
  width: 100%;
}

.thesis-column-2-box {
  display: flex;
}

.thesis-column-2-box-image {
  padding: 16px;
  width: 35%;
}

.thesis-column-2-box-image img {
  width: 100%;
}

.thesis-column-2-box-text {
  width: 65%;
}

/*Reimagine*/



/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
}

.footer li {
  display: inline;
}

.footer a {
    text-decoration: none;
}
