html {
    font-family: "Open Sans", sans-serif;
      font-size: 18px;
}

body {
  border: lightgrey 2px solid;
  line-height: 1.4;
  color: #585858;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.5rem;
}

h5 {
  font-size: 0.8rem;
}

.courses img {
    -webkit-filter:brightness(1);
}

.courses img:hover {
    -webkit-filter:brightness(1.1);
}

/*Header*/

header {
  height: 64px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.colmar {
  display: flex;
  align-content: center;
  margin: auto 0;
  height: 32px;
  cursor: pointer;
}

.logo {
  margin-left: 24px;
}

.title {
  margin: auto 0;
}

.title span {
  font-weight: 700;
  font-size: 1rem;
}

.desktop {
  display: flex;
  align-content: center;
  margin-right: 24px;
}

.desktop li {
  display: inline;
  padding: 8px;
}

.desktop a {
  text-decoration: none;
  color: grey;
   position: relative;
}

.desktop a:hover {
  color: #2980B9;
}

.link {
  position: relative;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #2980B9;
  transition: width .2s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: #2980B9;
}

.mobile {
  display: none;
}

.tablet {
  display: none;
}

@media only screen and (max-width: 720px) {

  .tablet {
    display: flex;
    width: 100%;
  }

  .tablet ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    list-style: none;
}
  .desktop {
      display: none;
    }

    .colmar {
      display: flex;
      /* align-content: center; */
      margin: auto 0;
      height: 32px;

    }

  }

@media only screen and (max-width: 480px) {

.colmar {
  display: none;
}

.desktop {
    display: none;
}

.tablet {
  display: none;
}

.mobile {
  display: flex;
  width: 100%;
}

.mobile ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0px;
}

header {
    height: 64px;
  }
}


/*Banner*/

.banner {
  display: flex;
  background-color: WhiteSmoke;
  align-items: center;
}

.banner-image {
  width: 60%;
  margin: 32px 24px;
}

.banner-image img {
  width: 100%;
}

.banner-text {
  width: 30%;
  height: 50%;
  margin-left: 24px;
}

.banner-text-2 {
  width: 70%;
  padding-bottom: 5px;
}

.button {
  background-color: #2980B9;
  text-align: center;
  color: white;
  width: 50%;
  padding: 8px 8px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #3498DB;
}

.button a {
  text-decoration: none;
}

.button h3 {
  padding: 8px;
}

@media only screen and (max-width: 720px) {

.banner-text {
  margin: 0px; Need to shrink to H2
}
}

@media only screen and (max-width: 480px) {

  .banner {
    display: block;
  }

  .banner-image {
    width: 100%;
    margin: 0px;
  }

  .banner-image img {
  }

  .banner-text {
    width: 100%;
    /* height: 50%; */
    padding-bottom: 32px;
    margin: 0px;
}
  .banner-text-1 {
    padding: 16px 16px;
  }

  .banner-text-1 h1 {
    margin: 0px;
  }

  .banner-text-2 {
    width: 90%;
    padding: 16px 16px;
  }

  .banner-text-2 h3 {
    margin: 0px;
  }

  .button {
    margin: 0px 16px 32px;
    margin: auto;
    text-align: center;
  }

}

/* Information */

.Information {
  display: flex;
}

.info-column-1 {
  margin: 32px 24px;
  width: 60%;
}

.info-column-1-image img {
  width: 100%;
}

.info-column-1-text h5 {
  font-weight: 500;
}

.info-column-2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: lightgrey 1px solid;
  padding-top: 16px;
  padding-bottom: 32px;
}

.info-column-2-box {
  /*margin-top: 32px;*/
  display: flex;
  transition: background-color 1s ease;
  transition: border-bottom 1s ease;
}

.info-column-2-box:hover {
  background-color: WhiteSmoke;
  border-bottom: #E74C3C;
}

.info-column-2-box-text {
  width: 65%;
  margin: auto;
}

.info-column-2-box-text a {
text-decoration: none;
color: #2980B9;
}

.info-column-2-box-desktop {
  width: 35%;
  padding: 16px;
}

.info-column-2-box-desktop img {
  width: 100%;
}

.info-column-2-box-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

.info-column-1 {
  display: none;
}

.information {
  display: block;
}

.info-column-2 {
  width: 100%;
}

.info-column-2-box {
padding-top: 16px;
 display: block;
}

.info-column-2-box-desktop {
  display: none;
}

.info-column-2-box-mobile {
  width: 100%;
  display: block;
}

.info-column-2-box-mobile img {
  width: 100%;
}

}
/*Courses*/

.courses .container {
  padding: 32px 72px;
  position: relative;
}

.courses {
  background-color: WhiteSmoke;
}

.courses h2 {
  text-align: center;
  padding-top: 32px;
  margin-top: auto;
  margin-bottom: 0px;
}

.courses .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-box {
  margin: 0px 16px 32px 0px;
  width: 25%;
  background-color: white;
  transition: 0.5s ease-in-out;
  position: relative;
  border-bottom: solid 5px white;
}

.course-box:hover{
  border-bottom: solid 5px #E74C3C;
}

.course-box-image img {
  height: auto;
  width: 100%;
}

.course-box-text {
  padding: 8px;

}

.course-box-text p {
  font-size: 1rem;
}

.courses-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {

.courses {
  background-color: white;
}

.courses h2 {
  padding-bottom: 16px;
}

.courses .container {
  display: none;
}

.courses-mobile {
  display: block;
}
.course-box-mobile {
  padding: 16px 16px 24px 16px;
  background-color: WhiteSmoke;
  margin: 8px 16px;
  cursor: pointer;
}
.course-box-mobile:hover {
  background-color: lightgrey;
}
}
/*Thesis*/

.thesis h2 {
  text-align: center;
  padding-top: 32px;
  margin: auto;
}

.thesis .container {
  display: flex;
}

.thesis-column-1 {
  margin: 32px 24px;
  width: 60%;
}

.thesis-column-2 {
    margin-top: 32px;
}

.thesis-column-1 video {
  width: 100%;
}

.thesis-column-2-box {
  transition: background-color 1s ease;
  display: flex;
}

.thesis-column-2-box:hover {
  background-color: WhiteSmoke;
  }

.thesis-column-2-box-image {
  padding: 16px;
  width: 25%;
}

.thesis-column-2-box-image img {
  width: 100%;
}

.thesis-column-2-box-text {
  width: 65%;
  margin: auto;
}

@media only screen and (max-width: 480px) {

.thesis-column-1 {
  width: 100%;
  margin: 16px auto;
}

.thesis-column-2 {
  display: none;
}

.reimagine {
  display: none;
}
}

/*Footer*/

footer {
  display: flex;
  justify-content: space-between;
  border-top: lightgrey 1px solid;
}

footer h5 {
  margin-left: 24px;
}

.footer li {
  display: inline;
}

.footer a {
    text-decoration: none;
    font-size: .8rem;
    color: grey;
}
.footer {
  margin-right: 24px;
}

@media only screen and (max-width: 480px) {

  .footer {
    display: none;
  }
  footer h5 {
    text-align: center;
    margin: 16px auto;
  }
}
